.App {
  text-align: center;
  background-color: cadetblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-header {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.App-logo {
  align-self: center;
  max-width: 100vw;
  background-color: white;
}

.App-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.App-link {
  color: #61dafb;
}

.Home-card {
  background-color: #358487!important;
}


.RNG-number {
  font-size: x-large;
}

.RNG-title {
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
